
<div class="container">
  <h1>add a new list</h1>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
