<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" >
  <div class="container">
    <%= link_to "my lists", lists_path, class: "navbar-brand" %>
  </div>
</div>
